@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Tailwind v4 setup: include preflight and utilities */
@import "tailwindcss";


:root {
  --color-primary: #E6CCFF;
}

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #E6CCFF;
}

/* .dark * {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

::-webkit-scrollbar {
  display: none;
}
